<h1>Login</h1>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<div class="form-container" autocomplete="on">
  <form id="loginForm" action="/account/login" method="post">
    <label for="login-email">Email</label>
    <input type="email" id="login-email" name="account_email" value="<%= locals.account_email %>" required>
    <label for="login-password">Password</label>
    <input type="password" id="login-password" name="account_password" required>
    <div class="password-requirements">
      <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
    </div>
    <input type="submit" value="login">
  </form>
  <p>No account? <a href="/account/registration" title="Sign up for an account">Sign-up</a></p>
</div>