<header id="top-header" class="site-header">
  <span class="sitename">
    <a href="/" class="site-title" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (locals.loggedin) { %>
      <a title="Go to account management" class="my-account" href="/account/">Welcome <%= locals.accountData.account_firstname %></a>
      <a title="Click to log out" class="my-account" href="/account/logout">Logout</a>
    <% } else { %>
      <a title="Click to log in" class="my-account" href="/account/login">My Account</a>
    <% } %>
  </div>
</header>