<!-- The Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>
<%- details %>

<% if (locals.loggedin && locals.accountData.account_type === 'Client') { %>
  <form action="/wishlist/add" method="post">
    <input type="hidden" name="inv_id" value="<%= locals.inv_id %>" pattern="^[1-9][0-9]*$" required>
    <button type="submit" class="btn-own">Save to Wishlist</button>
  </form>
<% } %>